body {
	background-color: #EDF4F5 !important;
}

.header-panel {
	background-color: #789A9F;
	text-align: center;
}

.h1 {
	font-size: 2.5em;
	font-weight: bold;
	color: #F78F1E;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: #054950;
}

.h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: #054950;
}

.menu {
	background-color: #789A9F;
}

.menu-title {
	color: #F78F1E;
	padding-left: 1em;
	padding-top: 2em;
}

.menu-link {
	margin-left: 0.5em;
	padding-left: 1.0em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

.menu-link a,.menu-link a:VISITED {
	color: #054950 !important;
}

.menu-border {
	border-top: 0px;
	border-right: 1px;
	border-bottom: 0px;
	border-left: 0px;
	border-style: solid;
	border-color: #054950;
}

.selected-menu-link {
	background-color: #EDF4F5;
	border-top: 1px;
	border-right: 0px;
	border-bottom: 1px;
	border-left: 1px;
	border-style: solid;
	border-color: #054950;
}

.filler {
	border-top: 0px;
	border-right: 1px;
	border-bottom: 0px;
	border-left: 0px;
	border-style: solid;
	border-color: #054950;
	height: 100%;
	padding-top: 3em;
	padding-left: 1em;
	padding-right: 1em;
}

.filler a,.filler a:VISITED {
	color: #F78F1E !important;
}

.welcome {
	width: 42em;
	margin: auto;
}

.welcome a,.welcome a:VISITED {
	color: #F78F1E !important;
}

.welcome-btn {
	width: 80%;
	margin: auto;
}

.footer {
	
}

.feedback {
	width: 500px;
}

.light-text {
	color: #777777;
}

.gwt-TextBox {
	width: 425px;
	margin-right: 5px;
}

.gwt-SuggestBox {
	width: 425px;
	margin-right: 5px;
}

.content {
	border-top: 1px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-style: solid;
	border-color: #054950;
}

.auto-margin {
	margin: auto;
}

.auto-0margin {
	margin: 0 auto;
}

.center-text {
	text-align: center;
}

.error404 {
	width: 400px;
	margin-top: 3em;
}

.loading {
	width: 22em;
	margin-top: 4em;
}

.graph-header {
	width: 34.5em;
}

.graph-chooser {
	margin-right: 1em;
	margin-top: 0.5em;
}

.gwt-TabLayoutPanelContentContainer {
	border-style: none !important;
	border-width: 0 !important;
}

.gwt-TabLayoutPanelTabs {
	background-color: #789A9F !important;
}

.gwt-TabLayoutPanelTab {
	background-color: #054950 !important;
}

.gwt-TabLayoutPanelTab-selected {
	background-color: #EDF4F5 !important;
}

.warning {
	color: red;
	font-weight: bold;
}

.admin-row {
	margin: 0px 10px 0px;
}

.expense-grid th {
	color: #054950;
}

.dark-green {
	color: #054950 !important;
}

.test {
	background-color: red;
}

.partyList {
	margin-top: 3.5em;
}

.partyList-cb {
	display: block;
	margin-top: 0.5em;
	margin-left: 0.5em;
}