h1 {
	font-size: 2.5em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 10px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: #777777;
	margin: 0px 0px 75px;
	text-align: center;
}

.loading {
	width: 22em;
	margin-left: auto;
	margin-right: auto;
}

.content {
	width: 370px;
	margin-left: auto;
	margin-right: auto;
}

.gwt-CheckBox {
	font-size: 1em;
	color: #777777;
	margin: 0px 10px 0px;
}

.gwt-TextBox {
	font-size: 1em;
	color: #777777;
	margin: 0px 0px 10px;
}

.gwt-Label {
	margin: 0px 0px 5px;
}

.highlight {
	border: 1px solid orange !important;
}